{% assign emptyarray = "" | split: "," %}

{% assign data = site.data[include.data]
  | default: site[include.data]
  | default: emptyarray
  | data_filter: include.filters
%}

{%- if include.component == "noticias" or include.component == "publicacoes" -%}
  {% assign grouped_data = data
    | group_by: "date" 
    | sort: "name"
    | reverse
  %}

{%- elsif include.component == "projetos" -%}
  {% assign grouped_data = data
    | group_by: "group"
    | sort: "name"
  %}

{%- elsif include.component == "membros" -%}
  {% assign grouped_data = data
    | group_by: "role"
  %}

  {% assign role_order = "Professor,Doutorado,Mestrado,Graduação,Ex-aluno" | split: "," %}
  {% assign ordered_grouped_data = emptyarray %}
  {% assign outros_group = emptyarray %}

  {%- for group in grouped_data %}
    {%- if group.name == "" or group.name == nil %}
      {% assign outros_group = outros_group | concat: group.items %}
    {%- else %}
      {% assign ordered_grouped_data = ordered_grouped_data | push: group %}
    {%- endif %}
  {%- endfor %}

  {% for member in data %}
    {%- if member.role == "" or member.role == nil %}
      {% assign outros_group = outros_group | push: member %}
    {%- endif %}
  {%- endfor %}

  {%- if outros_group.size > 0 %}
    {% assign grouped_data = ordered_grouped_data %}
    {% assign outros_group_item = "{% raw %}{ \"name\": \"Outros\", \"items\": outros_group }{% endraw %}" %}
    {% assign grouped_data = grouped_data | concat: outros_group_item %}
  {%- else %}
    {% assign grouped_data = ordered_grouped_data %}
  {%- endif %}
{% endif %}

{% assign component_tags = emptyarray %}

{% if include.component == "noticias" %}
  {% for item in data %}
    {% assign item_tags = item.tags | default: emptyarray %}
    {% assign component_tags = component_tags | concat: item_tags %}
  {% endfor %}
  {% assign component_tags = component_tags | uniq %}

  <section class="noticias">
    {% include tags.html tags=component_tags %}
    {% include search-info.html %}
{% elsif include.component == "projetos" %}
  {% for item in data %}
    {% assign item_tags = item.tags | default: emptyarray %}
    {% assign component_tags = component_tags | concat: item_tags %}
  {% endfor %}
  {% assign component_tags = component_tags | uniq %}

  <section class="projetos">
    {% include tags.html tags=component_tags %}
    {% include search-info.html %}

{% elsif include.component == "membros" %}
  <section class="membros">
{% elsif include.component == "publicacoes" %}
  {% for item in data %}
    {% assign item_tags = item.tags | default: emptyarray %}
    {% assign component_tags = component_tags | concat: item_tags %}
  {% endfor %}
  {% assign component_tags = component_tags | uniq %}

  <section class="publicacoes">
    {% include tags.html tags=component_tags %}
    {% include search-info.html %}
{% endif %}

  {% for group in grouped_data %}
    {% assign data = group.items %}
    {% if group.name == "Outros" %}
      <div class="tipoecards section" data-title="Outros">
        <h3 class="role titulosecao">Outros</h3>
    {% else %}
      <div class="tipoecards section" data-title="{{ group.name }}">
        <h3 class="role titulosecao">{{ group.name }}</h3>
    {% endif %}

      {% if include.component == "noticias" %}
        <div class="cardsnoticias">
      {% elsif include.component == "projetos" %}
        <div class="cardsprojetos">
      {% elsif include.component == "membros" %}
        <div class="cardsmembros">
      {% elsif include.component == "publicacoes" %}
        <div class="cardspublicacoes">
      {% endif %}

      {% for d in data %}
        {% assign style = d.style | default: include.style %}

        {% include {{ include.component | append: ".html" }}
          affiliation=d.affiliation
          author=d.author
          authors=d.authors
          buttons=d.buttons
          date=d.date
          description=d.description
          excerpt=d.excerpt
          icon=d.icon
          image=d.image
          link=d.link
          linklattes=d.linklattes
          linkorcid=d.linkorcid
          linklinkedin=d.linklinkedin
          linkemail=d.linkemail
          linkgithub=d.linkgithub
          name=d.name
          publisher=d.publisher
          repo=d.repo
          role=d.role
          style=style
          subtitle=d.subtitle
          tags=d.tags
          text=d.text
          title=d.title
          url=d.url
          id=d.id
        %}
      {% endfor %}

      </div>
    </div>
  {% endfor %}

</section>
